body {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100svh;
    /* overflow-y: scroll; */
    background-color: var(--back);
} main, aside {
    flex-grow: 1;
    align-content: center;
}
#footnotes p {
    margin-top: var(--spacing);
    font-size: var(--font-small);
}
#list_good time, #list_edgecases time, #list_bad time {
    font-size: var(--font-small);
}